@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Source+Serif+4:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myCanvas{
    position:absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tittle1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
    font-family: 'Comforter', cursive;
    line-height: 100px;
    white-space: nowrap;
    border-top: 5px solid black;
    user-select: none;
}

#tittle1::before{
    content: "is awesome";
    position: absolute;
    bottom: -70px;
    font-size: 40px;
    text-align: center;
    width: 100%;
}